<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="2" />
    <add key="MAX_INPUTTEXT_LENGTH"                value="10000" />

    <add key="SAME_IP_INTERVAL_REQUEST_IN_SECONDS" value="15"/>
    <add key="SAME_IP_MAX_REQUEST_IN_INTERVAL"     value="10"/>
    <add key="SAME_IP_BANNED_INTERVAL_IN_SECONDS"  value="120"/>

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME" value="../[resources]/url-detector/url-detector-resources.xml" />

    <add key="MODEL_FOLDER"       value="../[resources]/models/" />
    <add key="MODEL_FILENAMES"    value="classify-model-(tfidf-3-1)--1.txt;
                                         classify-model-(tfidf-3-1)--2.txt;
                                         classify-model-(tfidf-3-1)--3.txt;" />
    <add key="MODEL_NGRAMS_TYPE"  value="NGram_3" />
    <!--NGram_1, NGram_2, NGram_3, NGram_4-->
    <add key="MODEL_ROW_CAPACITY" value="1100000" />

    <add key="CLASS_THRESHOLD_PERCENT" value="10" />

    <add key="CLASS_INDEX_0"  value="Авто"                     />
    <add key="CLASS_INDEX_1"  value="Экономика и бизнес"       />
    <add key="CLASS_INDEX_2"  value="Шоу-бизнес и развлечения" />
    <add key="CLASS_INDEX_3"  value="Семья"                    />
    <add key="CLASS_INDEX_4"  value="Мода"                     />
    <add key="CLASS_INDEX_5"  value="Компьютерные игры"        />
    <add key="CLASS_INDEX_6"  value="Здоровье и медицина"      />
    <add key="CLASS_INDEX_7"  value="Политика"                 />
    <add key="CLASS_INDEX_8"  value="Недвижимость"             />
    <add key="CLASS_INDEX_9"  value="Наука и технологи"        />
    <add key="CLASS_INDEX_10" value="Спорт"                    />
    <add key="CLASS_INDEX_11" value="Туризм, путешевствия"     />
    <add key="CLASS_INDEX_12" value="Кулинария"                />
  </appSettings>

  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>