<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="USE_BOOST_PRIORITY" value="true" />

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME" value="../../classify.web.demo/[resources-4-appharbor.com]/url-detector-resources.xml" />

    <add key="BUILD_MODE" value="single_model" /> <!-- single_model, all_models_by_method, all_possible_models -->
    <add key="NGARMS"     value="ngram_3"      /> <!-- ngram_1, ngram_2, ngram_3, ngram_4 -->
    <add key="D_PARAM"    value="d1"           /> <!-- d0, d1, d2 -->
    <add key="METHOD"     value="tfidf"        /> <!-- tfidf, bm25, R_tfidf -->
    
    <add key="INPUT_FILES"      value="01_auto.txt;
                                       02_economics_business.txt;
                                       03_entertainment.txt;
                                       04_family.txt;
                                       05_fashion.txt;
                                       06_games.txt;
                                       07_health.txt;
                                       08_politics.txt;
                                       09_realty.txt;
                                       10_science_hitech.txt;
                                       11_sport.txt;
                                       12_travel.txt;
                                       13_cook.txt;" />
    <add key="INPUT_FOLDER"     value="../../[resources]/classify-raw-source-data/"  />
    <add key="INPUT_ENCODING"   value="utf-8" />
    
    <add key="OUTPUT_FILE_PATTERN" value="../../[resources]/models/classify-model.txt" />
    <add key="OUTPUT_ENCODING"     value="utf-8" />
  </appSettings>
  
  <!--VERY IMPORTANT !!! (for self-hosting only (not IIS-hosting))-->
  <runtime>
    <gcServer enabled="true" />
  </runtime>  
  
</configuration>